.fish-card {
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.full-width {
  width: 100%;
}
.center {
  align-items: center;
}
.month-tile {
  text-align: center;
}
