<mat-grid-list cols="4" rowHeight="1:2">
  <mat-grid-tile *ngFor="let fish of displayFish">
    <mat-card
      layout="row"
      layout-align="space-around center"
      class="card-container fish-card"
    >
      <mat-card-title class="full-width center">{{ fish.name }}</mat-card-title>
      <img mat-card-sm-image src="{{ fish.imageUrl }}" alt="{{ fish.name }}" />
      <mat-card-content class="full-width center">
        <mat-grid-list cols="3">
          <mat-grid-tile
            class="month-tile"
            *ngFor="let month of months; index as i"
          >
            {{ month }}<br />
            {{ fish.monthsNorthern.get(i + 1) }}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
